@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #fb2c36;
    --color-secondary: #FFFFFF;
    --color-text: #292929;
    --color-border: #E5E7EB;
    --color-bg: #F8F8F8;
}  

html {
    font-family: "Montserrat", sans-serif;
}